<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs ng-controller="TabCtrl" class="tabs-icon-top tabs-color-active-positive">
  <ion-tab on-select="tabChanged('Home')" title="Home" icon-off="tabbaricon-home-off tabbaricon" icon-on="tabbaricon-home-on tabbaricon" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab on-select="tabChanged('Graphs')" title="Graphs" icon-off="tabbaricon-graph-off tabbaricon" icon-on="tabbaricon-graph-on tabbaricon" href="#/tab/aboutme">
    <ion-nav-view name="tab-aboutme"></ion-nav-view>
  </ion-tab>

  <ion-tab on-select="tabChanged('This Week')" title="This Week" icon-off="tabbaricon-thisweek-off tabbaricon" icon-on="tabbaricon-thisweek-on tabbaricon"  href="#/tab/thisweek">
    <ion-nav-view name="tab-thisweek"></ion-nav-view>
  </ion-tab>
  <ion-tab on-select="tabChanged('Settings')" title="Settings" icon-off="tabbaricon-settings-off tabbaricon" icon-on="tabbaricon-settings-on tabbaricon" href="#/tab/settings">
      <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
