.tagList {
    padding:0 5px;
    text-align:center;
    margin-top:1px;
    margin-bottom:10px;
}

.tag {
    margin:2px;
    padding:3px 7px 4px 7px;
    border:1px solid #D0C9D6;
    background-color:#E8E1EF;
    cursor:pointer;
    border-radius:3px;
    color:$journalEnd !important;
    font-weight:700;
    display:inline-block;
}

.journal-textarea {
    border:none;
}

.sleep-quality-tag {
    color:white !important;
    background-color:#BEBE82;
    border-color:#BEBE82-#111;
    margin-right:10px;
    text-align:center;
    min-width:70px !important;
    height:30px;
    padding-top:4px;
    margin-top:6px;
}