<ion-view  on-swipe-left="" on-swipe-right="">
   <ion-content class="">
               <div class="signup-header">
            <!--a href="#/tour/signup" class="button icon-left ion-chevron-left button-clear button-positive">Back</a-->
        </div>

        <div class="signup-slide">

            <div class="signup-title">
                <h2>What would you like to track?</h2>
            </div>

            <div class="signup-description">
                <h3>You can change these at any time.</h3>
            </div>

            <sections-config></sections-config>

            <div class="list list-inset show-more">
                    <a ng-click="goNext()" class="button button-block button-positive">Next</a>

            </div>

            </div>


        </div>
    </ion-content>
</ion-view>
