/* Ginsberg mid green */
/* Ginsberg mid green */
.button {
  border-radius: 6px; }

.button-small {
  border-radius: 3px; }

.button-outline, .button-block {
  font-weight: 600 !important; }

.button-block {
  font-size: 16px !important; }

.button .ion-plus:before {
  font-size: 11px !important; }

.bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
  font-size: 20px !important;
  color: #5CBF96;
  top: 0 !important; }

.button-add-wrapper, .button-store-wrapper {
  min-height: 36px;
  font-size: 13px !important;
  font-weight: 600;
  border: 0;
  width: 100%;
  padding: 4px 10px !important; }

.button-add, .button-store {
  font-size: 13px !important;
  font-weight: 600;
  width: 100%;
  margin-top: 1px;
  padding: 4px 10px !important; }

.button-bar > .button:first-child {
  border-radius: 6px 0 0 6px; }

.button-bar > .button:last-child {
  border-radius: 0 6px 6px 0; }

.button.button-light.button-outline {
  color: white;
  border-color: white; }

.subheader-button {
  margin: 2px;
  font-size: 12px !important;
  padding: 0 4px !important; }

.header-button-bar {
  line-height: 29px !important; }

.button-bar {
  height: 32px;
  margin: 0 auto; }

.button.button-positive.button-outline {
  border-color: rgba(130, 190, 153, 0.5); }

.bar .button.button-clear {
  font-weight: 400; }

.button-logout {
  margin: 5px 0; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: 300; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: 500; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: 600; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight: 700; }

body * {
  font-family: 'OpenSans', sans-serif !important;
  font-size: 13px;
  color: #848484;
  font-weight: 500; }

h1 {
  font-size: 36px !important;
  color: #545454 !important; }

h2 {
  font-size: 24px !important;
  color: #545454 !important; }

h3 {
  font-size: 18px !important;
  color: #848484 !important; }

h4 {
  font-size: 15px !important;
  color: #545454 !important; }

.input-label, input, select {
  font-size: 13px !important;
  color: #848484;
  font-weight: 500; }

small, .tag, .button-small {
  font-size: 12px;
  color: #A0A0A0;
  font-weight: 600; }

label {
  font-size: 14px;
  font-weight: 600;
  color: #545454; }

.ng-invalid:not(.ng-pristine) {
  border: 1px solid rgba(192, 138, 131, 0.5) !important;
  background-color: rgba(192, 138, 131, 0.5) !important; }

.signup-item input {
  font-size: 14px !important; }

.signup-item {
  margin-top: -1px !important;
  border: 1px solid #dddddd; }

.tour-slide {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%; }

#tour-signup-btn, #tour-signin-btn {
  float: left;
  text-align: center; }

.tour-title {
  padding: 0 20px; }

.tour-description {
  padding: 0 20px; }

.tour-image {
  display: table;
  margin: 0 auto;
  margin-bottom: 10px; }

.tour-navigation {
  margin-top: -14px; }

.retina3-image {
  display: none; }

.retina2-image {
  display: none; }

.standard-image {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .retina3-image {
    display: none; }
  .retina2-image {
    display: table-cell;
    vertical-align: middle; }
    .retina2-image img {
      width: 260px; }
  .standard-image {
    display: none; } }

@media only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .retina3-image {
    display: table-cell;
    vertical-align: middle; }
    .retina3-image img {
      width: 260px; }
  .retina2-image {
    display: none; }
  .standard-image {
    display: none; } }

.slider-pager {
  bottom: 15px; }

.pagination-wrapper {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0px; }

.pagination {
  display: table;
  margin: 0 auto; }

.pagination-circle {
  width: 8px;
  height: 8px;
  float: left;
  margin: 3px; }

.signup-slide {
  padding: 0 8px 0 8px;
  text-align: center;
  width: 100%; }

.signup-header-wrapper {
  background-color: white !important; }

.signup-header {
  height: 47px;
  margin-top: 25px;
  padding: 0 5px; }

.signin-form input {
  border: 1px solid #dddddd; }

.show-more {
  margin-top: 0; }
