/* Ginsberg mid green */
.button-small {
  border-radius: 3px; }

.button-block {
  border-radius: 6px; }

.ion-plus :before {
  font-size: 14px !important; }

.button .ion-plus:before {
  font-size: 14px !important;
  color: #82BE99; }

.bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
  font-size: 20px !important;
  color: #82BE99;
  top: 0 !important; }

.button-add {
  padding: 0 !important;
  min-height: 36px;
  font-size: 14px;
  border: 0; }

.button-save {
  font-size: 16px !important; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: 300; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: 500; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: 600; }

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight: 700; }

body * {
  font-family: 'OpenSans', sans-serif !important;
  font-size: 13px;
  color: #848484;
  font-weight: 500; }

h1 {
  font-size: 36px !important;
  color: #606060 !important; }

h2 {
  font-size: 30px !important;
  color: #606060 !important; }

h3 {
  font-size: 24px !important;
  color: #5a5a5a !important; }

h4 {
  font-size: 15px !important;
  color: #5a5a5a !important; }

.input-label, input, select {
  font-size: 13px !important;
  color: #848484;
  font-weight: 500; }

small, .tag, .button-small {
  font-size: 12px;
  color: #A0A0A0;
  font-weight: 600; }

label {
  font-size: 14px;
  font-weight: bold;
  color: #5a5a5a; }

.tour-slide {
  padding: 0 8px 0 8px;
  text-align: center; }

.tour-header {
  height: 47px; }

.item {
  text-align: left; }

#tour-signup-btn, #tour-signin-btn {
  float: left;
  text-align: center; }
